*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
section{
	padding-top:70px;
}
.container{
	margin:auto;
    width:90%
}
.row{
    display:flex;
}
.col{
	width:60%;
}
.col img {
	width:100%;
}
.box1{
	display:flex;
	padding-top:40px;
}
.icon {
	display:flex;	 
    padding:20px;
	color:#ffff80;
	font-size:40px;
}
h3 {
	padding-bottom:10px;
}
